/.idea/inspectionProfiles/*.xml
/.idea/*.xml
/.idea/*.iml
/.ipynb_checkpoints/*.ipynb
/codebase/.ipynb_checkpoints/*.ipynb
/codebase/vehicles/**/*png
/codebase/non-vehicles/**/*png
/cutouts/*jpg
/examples/*jpg
/examples/*png
/explore_color_spaces/*.png
/non-vehicles_smallset/**/*.jpeg
/vehicles_smallset/**/*.jpeg
*.ipynb
*.mp4
*.zip
